<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerTelegramBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerTelegramBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ServerTelegramBot.Properties.Settings>
            <setting name="ApiTelegramBot" serializeAs="String">
                <value>735417885:AAGJDcP9_JE_nmj1-3udCw3fEbxNgiU-t64</value>
            </setting>
        </ServerTelegramBot.Properties.Settings>
    </applicationSettings>
    <system.net>
      <settings>
        <httpWebRequest useUnsafeHeaderParsing="true" />
      </settings>
    </system.net>
    <userSettings>
        <ServerTelegramBot.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Grin_K</value>
            </setting>
            <setting name="TrackCard" serializeAs="String">
                <value>885531</value>
            </setting>
            <setting name="NameTelegramBot" serializeAs="String">
                <value>HelperSapporo_bot</value>
            </setting>
            <setting name="WebProxy" serializeAs="String">
                <value>192.168.22.220:8118</value>
            </setting>
        </ServerTelegramBot.Properties.Settings>
    </userSettings>
</configuration>